.LightDefault1, .BlankState1, .LightShadeButton1 {
	font-size: 15px;
	min-width: 10px;
	min-height: 10px;
	background-image: none;
	background-color: white;
	border: 1px solid;
}

.LightDefault2, .BlankState2, .LightShadeButton2 {
	font-size: 23px;
	min-width: 20px;
	min-height: 20px;
	background-image: none;
	background-color: white;
	border: 1px solid;
}

.DarkDefault1 {
	font-size: 23px;
	min-width: 20px;
	min-height: 20px;
	background-color: #1c1a1a;
	color: #ffffff;
	border: 1px solid;
}

.DarkDefault2 {
	font-size: 23px;
	min-width: 20px;
	min-height: 20px;
	background-image: none;
	background-color: #1c1a1a;
	color: #ffffff;
	border: 1px solid;
}



.LightDefault, .DarkDefault, .Default, .BlankState, .LightShadeButton, .DarkShadeButton {
	font-size: 30px;
	background-image: none;
	border: 1px solid;
}


.LightDefault, .Default, .BlankState, .ShadeButton {
	background-color: white;
}

.DarkDefault, .DarkShadeButton {
	color: #ffffff;
}

.LightDefault {
	background-color: #ffffff;
	color: #000000;
}

.LightDefault:hover, .LightDefault1:hover, .LightDefault2:hover, .LightDefault3:hover {
	background-color: lightgray;
}

.LightDefault:active, .LightDefault1:active, .LightDefault2:active, .LightDefault3:active {
	background-color: gray;
	border: 1px solid;
}






.LightShadeButton, .LightShadeButton1, .LightShadeButton2, .LightShadeButton3 {
	background-color: gray;	
	border: 1px solid;
}

.DarkShadeButton, .DarkShadeButton1, .DarkShadeButton2, .DarkShadeButton3 {
	background-color: #101010;
}



.DarkDefault:hover, .DarkDefault1:hover, .DarkDefault2:hover, .DarkDefault3:hover,
.DarkShadeButton1:hover, .DarkShadeButton1:hover, .DarkShadeButton2:hover, .DarkShadeButton3:hover {
	background-color: #282626;
}


.DarkDefault:active, .DarkDefault1:active, .DarkDefault2:active, .DarkDefault3:active, .DarkShadeButton:active, .DarkShadeButton1:active, .DarkShadeButton2:active, .DarkShadeButton3:active {
	background-color: black;
	border: 1px solid;
}
